*:before { font-weight: bold; }

.title, .subtitle, .author, .translator, .publisher, .date, .rights { 
	text-align: center;
}

.author:before { content: "Author: "; }
.translator:before { content: "Translator: "; }
.rights:before { content: "License: "; }
